/** Base **/
html,
body {
  margin: 20px 100px;
  padding: 0;
}

/** Fonts **/
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

/** Contenu **/
* {
  font-family: "Lato", sans-serif;
}

/** Header **/
/* Logo */
.logo {
  display: block;
  margin: auto;
}

/** Formulaire **/
/* Rechercher */
#rechercher {
  margin: 20px 0;
  position: relative;
}
#champ-rechercher {
  background-color: #e7e7e7;
  border-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  height: 65px;
  padding: 25px 20px;
  width: 100%;
}
#champ-rechercher:placeholder-shown {
  text-overflow: ellipsis;
}
#champ-rechercher::-webkit-search-cancel-button {
  display: none;
}
.fa-search {
  cursor: pointer;
  font-size: 32px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/** Filtres choisis **/
/* Filtre */
.filtre {
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  line-height: 30px;
  min-height: 30px;
  min-width: 100px;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  position: relative;
}
.filtre:first-letter {
  text-transform: capitalize;
}
.fa-times-circle {
  float: right;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}
.fa-times-circle:hover {
  cursor: pointer;
}

/** Liste des filtres **/
#liste-filtres {
  display: flex;
  margin: 20px 0;
}
/* Type de filtre */
.type-filtre {
  border-radius: 5px;
  display: flex;
}
/* Boutons */
.btn-filtre {
  border-color: transparent;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  height: 65px;
  margin-right: 20px;
  padding: 0 10px;
  position: relative;
  text-align: left;
  width: 250px;
}
.btn-filtre:hover {
  cursor: pointer;
}
.btn-afficher {
  display: block;
}
.btn-cacher {
  display: none;
}
/* Chevron */
.chevron-filtre {
  color: #ffffff;
  font-size: 18px;
  margin-left: 5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.chevron-filtre:hover {
  cursor: pointer;
}
/* Cherche dans les filtres */
.cherche-filtre {
  border-radius: 5px;
  display: none;
  flex-direction: column;
  margin-right: 20px;
  min-width: 250px;
  padding: 0 10px;
  width: 100%;
}
.cherche-filtre > form {
  position: relative;
}
.cherche-filtre-cacher {
  display: none;
}
.cherche-filtre-afficher {
  display: flex;
}
/* Champs des filtres */
.champ-filtre {
  border-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 15px;
  height: 65px;
  width: 100%;
}
.champ-filtre::placeholder {
  color: #ffffff;
}
/* Liste des filtres */
.liste-filtre {
  columns: 3;
  height: fit-content;
  list-style: none;
  margin: 0;
  padding: 0 0 15px 0;
}
.nom-filtre {
  color: #ffffff;
}
.nom-filtre:hover {
  cursor: pointer;
}
.nom-filtre:first-letter {
  text-transform: capitalize;
}
.nom-filtre-afficher {
  display: block;
}
.nom-filtre-cacher {
  display: none;
}
.nom-filtre-cacher-choisis {
  display: none !important;
}
/* Ingrédients */
#btn-ingredients,
#cherche-ingredients,
#champ-ingredients,
.filtre-ingredients {
  background-color: #3282f7;
}
/* Appareils */
#btn-appareils,
#cherche-appareils,
#champ-appliance,
.filtre-appliance {
  background-color: #68d9a4;
}
/* Ustensiles */
#btn-ustensiles,
#cherche-ustensiles,
#champ-ustensils,
.filtre-ustensils {
  background-color: #ed6454;
}

/** Recettes **/
/* Aucun résultat */
#aucun-resultat {
  display: none;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.aucun-resultat-afficher {
  display: block !important;
}
/* Liste des recettes */
#liste-recettes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.recette {
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
  flex: 1 0 calc((100% - 100px) / 3);
  max-width: calc((100% - 100px) / 3);
  padding-bottom: 15px;
}
.recette-afficher {
  display: block;
}
.recette-cacher {
  display: none;
}
/* Image recette */
.image-recette {
  background-color: #c7bebe;
  background-image: url("../img/Logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px 5px 0 0;
  height: 200px;
}
/* Contenu de la recette */
.contenu-recette {
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}
/* Titre du recette */
.titre-recette {
  display: inline-block;
  font-size: 20px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 40px - 25%);
}
/* Temps de préparation */
.temps-preparation {
  float: right;
  font-size: 20px;
  font-weight: bold;
  width: 25%;
}
.temps-preparation::before {
  content: "\f017";
  font-family: "Font Awesome\ 5 Free";
  font-size: 20px;
  font-weight: lighter;
  margin-right: 5px;
}
.temps-preparation::after {
  content: " min";
}
/* Liste d'ingrédient */
.liste-ingredient {
  float: left;
  margin: 20px 10px 0 0;
  width: calc(50% - 10px);
}
.type-ingredient {
  display: block;
  font-weight: bold;
}
.nombre-ingredient {
  font-weight: normal;
}
.nombre-ingredient::before {
  content: " : ";
}
/* Description de la recette */
.description-recette {
  float: right;
  width: 50%;
}
.description-recette > p {
  display: -webkit-box;
  margin: 20px 0 0 0;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

/** Responsive **/
/* 1600 */
@media screen and (max-width: 1650px) {
  html,
  body {
    margin: 20px 50px;
  }
  .titre-recette {
    font-size: 18px;
    float: unset;
    width: unset;
  }
  .temps-preparation {
    font-size: 16px;
    width: unset;
  }
  .temps-preparation::before {
    font-size: 15px;
  }
  .liste-ingredient {
    width: 100%;
  }
  .description-recette {
    width: 100%;
  }
}
/* 1400 */
@media screen and (max-width: 1400px) {
  /** Base **/
  html,
  body {
    margin: 20px 25px;
  }
  .titre-recette {
    font-size: 16px;
  }
  .temps-preparation {
    font-size: 15px;
  }
  .temps-preparation::before {
    font-size: 14px;
  }
  .type-ingredient {
    font-size: 14px;
  }
  .description-recette > p {
    font-size: 14px;
  }
}
/* 1250 */
@media screen and (max-width: 1250px) {
  html,
  body {
    margin: 20px 10px;
  }
  #liste-recettes {
    gap: 25px;
  }
  .titre-recette {
    display: block;
    font-size: 20px;
  }
  .temps-preparation {
    display: block;
    float: unset;
    font-size: 18px;
    margin-top: 5px;
  }
  .temps-preparation::before {
    font-size: 17px;
  }
  .type-ingredient {
    font-size: 16px;
  }
  .recette {
    flex: 1 0 calc((100% - 100px) / 2);
    max-width: 100%;
  }
  .description-recette > p {
    font-size: 16px;
  }
}
/* 992 */
@media screen and (max-width: 992px) {
  .filtre {
    margin: 5px 0;
    text-align: center;
    width: calc(100% - 40px);
  }
  .fa-times-circle {
    display: block;
    float: unset;
    font-size: 22px;
    margin: auto;
  }
  #liste-filtres {
    justify-content: center;
  }
  .cherche-filtre {
    margin-right: 0;
    width: auto;
  }
  #liste-recettes {
    gap: 25px 0;
  }
  .recette {
    flex: 1 0 calc((100% - 100px) / 1);
  }
}
/* 850 */
@media screen and (max-width: 850px) {
  #champ-rechercher {
    font-size: 16px;
  }
  #liste-filtres {
    flex-direction: column;
  }
  .type-filtre {
    display: block;
    margin: 10px auto;
    width: fit-content;
  }
  .btn-filtre {
    margin-right: unset;
  }
}
/* 600 */
@media screen and (max-width: 600px) {
  .logo {
    width: 268px;
  }
  #champ-rechercher {
    font-size: 14px;
  }
  #champ-rechercher::-webkit-search-cancel-button {
    display: block;
  }
  .fa-search {
    display: none;
  }
}
/* 425 */
@media screen and (max-width: 425px) {
  html,
  body {
    margin: 20px 5px;
  }
}
